@charset "utf-8";
/*============================================================================*\

	CSS by Brian Sexton for the Williams Sonoma Coding Challenge

	------------------------------------------------------------------------

	Brian Sexton - https://briansexton.com/

	Main Portfolio - https://brian.works/

	Writing Portfolio - https://wellwritten.work/

	Résumé and Supplemental Documents - https://brian.works/resume

\*============================================================================*/

/*----------------------------------------------------------------------------*\
	General
\*----------------------------------------------------------------------------*/

:root
{
	background: #fff;
	color: #000;

	font-family: 'Libre Baskerville', serif;
	font-weight: 400
}

body
{
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	padding: 0;

	margin: 0
}

h1, h2, h3
{
	font-family: 'Abril Fatface', serif;
	font-weight: 700
}

a:link, a:visited
{
	text-decoration: none
}

a:hover, a:active
{
	text-decoration: underline
}

/*----------------------------------------------------------------------------*\
	Page Header
\*----------------------------------------------------------------------------*/

body > header
{
	background: #777 url(../images/backdrops/vineyard-horizon-640x250.jpg) center center / cover;

	color: #fff;

	text-align: center;
	text-shadow: 1px 1px #000
}

/* TODO: Consider how best to eliminate unnecessary stretching between specified min-width values. Use max-width and work backwards instead? */

/* TODO: Consider adding multiple densities. */

@media all and (min-width: 768px)
{
	body > header
	{
		background-image: url(../images/backdrops/vineyard-horizon-768x250.jpg);

		display: flex;
		flex-direction: column;
		justify-content: center
	}
}

@media all and (min-width: 1024px)
{
	body > header
	{
		background-image: url(../images/backdrops/vineyard-horizon-1024x250.jpg)
	}
}

@media all and (min-width: 1280px)
{
	body > header
	{
		background-image: url(../images/backdrops/vineyard-horizon-1280x250.jpg)
	}
}

@media all and (min-width: 1920px)
{
	body > header
	{
		background-image: url(../images/backdrops/vineyard-horizon-1920x250.jpg)
	}
}

body > header > h1
{
	font-size: 3rem;

	padding: 0.5rem 0.75rem;

	margin: 0
}

body > header > p
{
	background-color: rgba(0, 0, 0, 0.35);

	padding: 0.5rem 0.75rem;

	margin: 0
}

/*----------------------------------------------------------------------------*\
	Content - Common
\*----------------------------------------------------------------------------*/

main
{
	/* outline: 2px dotted #f0f;
	outline-offset: -2px; */

	flex: 1;

	padding: 1rem
}

main > section
{
	/* border: 1px solid green; */

	/* outline: 2px dotted #f00;
	outline-offset: -2px; */

	box-sizing: border-box;
	max-width: 980px;

	margin: auto
}

/*----------------------------------------------------------------------------*\
	Content - Product Menu
\*----------------------------------------------------------------------------*/

/* Hide the section heading for screen and print, but NOT for speech. */
@media screen, print
{
	#product-menu > h3
	{
		display: none
	}
}

#product-menu > .products
{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
}

#product-menu > .products .product-card
{
	padding: 1rem;

	transition: background-color 0.5s ease;

	animation: card-appearance 600ms ease-out;
	animation-fill-mode: backwards;

	--product-card-delay: 100ms
}

#product-menu > .products .product-card:nth-of-type(2)
{
	animation-delay: var(--product-card-delay)
}

#product-menu > .products .product-card:nth-of-type(3)
{
	animation-delay: calc(2 * var(--product-card-delay))
}

#product-menu > .products .product-card:nth-of-type(4)
{
	animation-delay: calc(3 * var(--product-card-delay))
}

#product-menu > .products .product-card:nth-of-type(5)
{
	animation-delay: calc(4 * var(--product-card-delay))
}

#product-menu > .products .product-card:nth-of-type(6)
{
	animation-delay: calc(5 * var(--product-card-delay))
}

#product-menu > .products .product-card:nth-of-type(7)
{
	animation-delay: calc(6 * var(--product-card-delay))
}

#product-menu > .products .product-card:nth-of-type(8)
{
	animation-delay: calc(7 * var(--product-card-delay))
}

#product-menu > .products .product-card:nth-of-type(9)
{
	animation-delay: calc(8 * var(--product-card-delay))
}

#product-menu > .products .product-card:nth-of-type(n+10)
{
	animation-delay: calc(9 * var(--product-card-delay))
}

@keyframes card-appearance
{
	from
	{
		opacity: 0;
		transform: scale(0.3)
	}

	to
	{
		opacity: 1;
		transform: scale(1)
	}
}

#product-menu > .products .product-card:hover
{
	background-color: #f6efd5;

	transition: background-color 0.25s ease
}

#product-menu > .products .product-card img
{
	display: block;

	margin: 0
}

#product-menu > .products .product-card .product-image
{
	width: 100%;
	height: auto;

	cursor: pointer
}

#product-menu > .products .product-name
{
	margin: 0.5rem 0
}

#product-menu > .products .regular-price
{
	color: #555;

	font-size: 0.75em;

	margin: 0.5rem 0 0.25em 0
}

#product-menu > .products .current-price
{
	margin: 0.25rem 0 0.5em 0
}

#product-menu > .products .product-card .product-page-link
{
	font-size: 0.75em;

	margin: 0.5rem 0 0 0
}

#product-menu > .products .product-card > :last-child
{
	margin-bottom: 0
}

/*----------------------------------------------------------------------------*\
	Content - Product Image Overlay
\*----------------------------------------------------------------------------*/

.product-image-overlay
{
	position: fixed;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	backdrop-filter: brightness(80%) blur(24px);

	display: flex;
	align-items: center;
	justify-content: center
}

.product-image-overlay > .backdrop
{
	background-color: rgba(0, 0, 0, 0.5);

	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	z-index: -1;

	cursor: pointer
}

.product-image-overlay > .content
{
	max-height: 100%;
}

/*----------------------------------------------------------------------------*\
	Content - Product Browser
\*----------------------------------------------------------------------------*/

.product-browser
{
	background-color: #fff;

	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.product-browser img
{
	display: block;

	margin: 0
}

.product-browser > header
{
	background-color: #d4b746;
	color: #222;

	padding: 1rem;

	display: flex
}

.product-browser > header .product-image-box
{
	margin: 0
}

.product-browser > header .product-image
{
	display: block;

	border-radius: 50%;

	width: auto;
	height: 2rem;

	margin: 0;

	cursor: pointer
}

.product-browser > header .product-name
{
	flex: 1;

	margin: 0.2rem 0 0 0.75rem
}

.product-browser > header .close-button-box
{
	margin: 0
}

.product-browser > header .close-button
{
	display: block;

	font-size: 3rem;

	line-height: 1.5rem;

	margin: 0.25rem 0 0 0;

	text-decoration: none;

	cursor: pointer
}

.product-browser > .body
{
	background-color: #fff;

	padding: 1rem
}

.product-browser > .body > :last-child
{
	margin-bottom: 0
}

.product-browser .product-images
{
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

	list-style-type: none;

	padding: 0
}

.product-browser .product-images li img
{
	width: 100%;
	height: auto;

	cursor: pointer
}

.product-browser .body .product-page-link
{
	font-size: 0.75em;

	margin: 0.5rem 0 0 0
}

.product-browser .body > :last-child
{
	margin-bottom: 0
}

/*----------------------------------------------------------------------------*\
	Content - Product Details and Source Code
\*----------------------------------------------------------------------------*/

#project-details-and-source-code
{
	margin: 2rem auto
}

/* Hide the section heading for screen and print, but NOT for speech. */
@media screen, print
{
	#project-details-and-source-code > h3
	{
		display: none
	}
}

#project-details-and-source-code > p
{
	color: #333;

	text-align: center;
}

/*----------------------------------------------------------------------------*\
	Page Footer
\*----------------------------------------------------------------------------*/

body > footer
{
	border-top: 1px solid #999;

	background: #eee;
	color: #000;

	padding: 0
}

.personal-links
{
	list-style-type: none;

	padding: 0;

	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	gap: 1rem;

	margin: 1rem
}

@media all and (min-width: 480px)
{
	.personal-links
	{
		grid-template-columns: 1fr 1fr
	}
}

@media all and (min-width: 1024px)
{
	.personal-links
	{
		grid-template-columns: repeat(4, 1fr);
		gap: 0;

		margin: 0
	}
}

.personal-links a
{
	border-radius: 0.25rem;

	/* This is for space-filling and vertical centering. */
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 0.25rem 0.5rem;

	box-sizing: border-box;
	height: 100%;

	font-family: Roboto, serif;
	font-weight: 500;

	text-align: center;

	transition: background-color 0.4s ease, color 0.4s ease
}

@media all and (min-width: 1024px)
{
	.personal-links a
	{
		border-radius: 0
	}
}

.personal-links li:first-child a
{
	font-size: 2rem;
	font-weight: 400;
	font-family: 'Francois One', serif
}

.personal-links li a:link,
.personal-links li a:visited
{
	background-color: #ccc;
	color: #444
}

.personal-links li:first-child a:link,
.personal-links li:first-child a:visited
{
	background-color: #bbf;
	color: #222;

	text-shadow: 1px 1px rgba(255, 255, 255, 0.5)
}

/*
	TODO: Figure out why the above :link and :visited rule breaks the below
	:hover and :active rules unless I explicitly specify corresponding :hover
	and :active selectors.
*/

.personal-links li a:hover,
.personal-links li:first-child a:hover /* hopefully temporary dirty nasty hack */
{
	background-color: #333;
	color: #fff;

	text-shadow: none;

	text-decoration: none
}

.personal-links li a:active,
.personal-links li:first-child a:active /* hopefully temporary dirty nasty hack */
{
	background-color: #000;

	text-shadow: none;

	text-decoration: none
}